body {
  letter-spacing: 2px;
  padding-bottom: 30px;
  background-image: url('images/background1.gif');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.App {
  text-align: center;
}

.overlay {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
}

.nav-header {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #EF5350;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  text-align: center;
  width: 100%;
  height: 50px;
}

.nav-header img {
  height: 50px;
  width: auto;
}

.app-body-container {
  padding-top: 10px;
  display: grid;
  grid-template-rows: 10% 75%;
  grid-gap: 10px;
  position: relative;
  width: 900px;
  height: 100vh;
}

.header-body {
  position: relative;
  height: 100px;
}

.header-control {
  display: grid;
  grid-template-columns: 80% 1fr;
  border: 3px solid white;
  background-color: rgba(0,0,0,0.3);
}

.header-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}

.header-select {
  display: grid;
  grid-template-rows: 50% 1fr;
}

.header-select p {
  color: #ffffff;
}

.header-select select {
  min-width: 150px;
  height: 30px;
  font-size: 16px;
  color: #ffffff;
  background-color: rgba(0,0,0,0.3);
}

.header-select select:active {
  color: #000000;
  background-color: rgba(255, 255, 255, 1);
}

.header-butt {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-butt button {
  font-size: 18px;
  width: 80%;
  height: 40px;
}

.body-cont {
  display: grid;
  grid-template-columns: 70% 1fr;
  grid-gap: 10px;
  position: relative;
  height: auto;
  min-height: 600px;
}

.body-info {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 65% 1fr;
}

.body-captured {
  border: 3px solid white;
  background-color: rgba(0,0,0,0.3);
}

.body-pic {
  border: 3px solid white;
  background-color: rgba(0,0,0,0.3);
}

.body-pic img {
  height: 300px;
  width: auto;
}

.body-pic h1 {
  color: #ffffff;
}

.body-pic button {
  font-size: 18px;
  width: 60%;
  height: 40px;
}

.body-stat {
  border: 3px solid white;
  background-color: rgba(0,0,0,0.3);
}

.headeroo {
  text-align: left;
  height: auto;
  min-height: 10px;
  padding: 1px;
}

.headeroo p {
  color: #ffffff;
  padding-left: 10px;
}

.bodyroo {
  text-align: left;
  height: auto;
  min-height: 10px;
  padding: 1px;
}

.bodyroo p {
  color: #ffffff;
  padding-left: 10px;
  height: 10px;
}

.captured-poke {
  color: #ffffff;
  height: auto;
  min-height: 80px;
}

.captured-poke img {
  width: auto;
  height: 50px;
}

.captured-poke p {
}